GROQ_API_KEY=
OPENAI_API_KEY=
EMBEDDING_MODEL=
TAVILY_API_KEY=
SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_SERVICE_KEY=
SUPABASE_DB_PW=
DATABASE_URL=
SUPABASE_CONN_STR=
PROJECT_ROOT=
PORT=
PYTHONUNBUFFERED=
GOOGLE_API_KEY=
EMBEDDING_STRATEGY=
VECTOR_DIMENSION=
