[submodule "frontends/chat"]
	path = frontends/chat
	url = https://github.com/Math-Data-Justice-Collaborative/Vecinitafrontend.git
	branch = dev

[submodule "frontends/data-management"]
	path = frontends/data-management
	url = https://github.com/Math-Data-Justice-Collaborative/vecinita-data-management-frontend.git
	branch = main

[submodule "apis/data-management-api"]
	path = apis/data-management-api
	url = https://github.com/Math-Data-Justice-Collaborative/vecinita-data-management.git
	branch = main

[submodule "modal-apps/scraper"]
	path = modal-apps/scraper
	url = https://github.com/Math-Data-Justice-Collaborative/vecinita-scraper.git
	branch = main

[submodule "modal-apps/embedding-modal"]
	path = modal-apps/embedding-modal
	url = https://github.com/Math-Data-Justice-Collaborative/vecinita-embedding.git
	branch = main

[submodule "modal-apps/model-modal"]
	path = modal-apps/model-modal
	url = https://github.com/Math-Data-Justice-Collaborative/vecinita-model.git
	branch = main
