.env
.env.local
.env.*.local

node_modules/
dist/
coverage/
pacts/
playwright-report/
test-results/
.vitest/

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
Thumbs.db

.vscode/*.code-workspace
.vscode/settings.local.json